{% extends "layout.html" %}

{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="{% static 'upload.js' %}"></script>
        <title>Upload</title>
    </head>
    <body>
        <h1>Upload file to share</h1>
        
        <form action="/upload" method="post">
            {%csrf_token%}
            <input type="file" id ="fileInput" name ="upload">
            <input type="submit" id="confirmUpload" value="Upload">
        </form>
    </body>
</html>
{% endblock %}